# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: Agent-1

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml

  gitleaks-scan:
    runs-on: Agent-1
    needs: compile

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run GitLeaks Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --report-path=gitleaks-report.json --report-format=json
      - name: Upload GitLeaks Report
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: gitleaks-report.json

  trivy-scan:
    runs-on: Agent-1
    needs: gitleaks-scan
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run Trivy FS Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scanners: vuln,secret,misconfig
          path: .
          exit-code: '0'
          ignore-unfixed: true
          format: sarif
          output: trivy-report.sarif

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.sarif

#  sonarqube-scan:
#    runs-on: Agent-1
#    needs: trivy-scan
#
#    steps:
#      - uses: actions/checkout@v4
#      - name: Set up JDK 21
#        uses: actions/setup-java@v4
#        with:
#          java-version: '21'
#          distribution: 'temurin'
#          cache: maven
#      - name: Build Project
#        run: mvn -B package --file pom.xml
#      - name: SonarQube Scan
#        run: |
#            mvn sonar:sonar \
#              -Dsonar.projectKey=your_project_key \
#              -Dsonar.host.url=${{ secrets.SONARQUBE_HOST_URL }} \
#              -Dsonar.login=${{ secrets.SONARQUBE_TOKEN }} \
#              -Dsonar.qualitygate.wait=false
#        env:
#          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
#          SONAR_HOST_URL: ${{ secrets.SONARQUBE_HOST_URL }}
  build-and-push:
    runs-on: ubuntu-latest
    needs: trivy-scan

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate semantic version
        id: version
        uses: paulhatch/semantic-version@v5
        with:
          tag_prefix: ""

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/3-tier-project:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/3-tier-project:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/3-tier-project:${{ steps.version.outputs.version }}
